*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: rgba(253, 251, 253, 0.774);
    min-height: 100vh ;
    border: 10px solid;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: rgb(226, 43, 43);
}

.top_section h1{
    font-size:  60px;
    font-weight: bold;
    color: rgb(179, 0, 255);
    text-align: end;
}

.top_section h4{
    text-align: end;
    font-size: 30px;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}

.image_container,img{
    width: 300px;
    height: 300px;
}

.about_section{
    margin-top: 50px;
}

.about_section h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(98,49,49);
}

.about_section p{
    font-size: 30px;
    line-height: 30px;
}

.two{
    margin-top: 50px;
}

.two h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(98,49,49);
}

.two p{
    font-size: 30px;
    line-height: 30px;
}
.three{
    margin-top: 50px;
}

.three h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(98,49,49);
}

.three p{
    font-size: 30px;
    line-height: 30px;
}
.four{
    margin-top: 50px;
}

.four h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(98,49,49);
}

.four p{
    font-size: 30px;
    line-height: 30px;
}
.five{
    margin-top: 50px;
}

.five h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(98,49,49);
}

.five p{
    font-size: 30px;
    line-height: 30px;
}
.six{
    margin-top: 50px;
}

.six h2{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(98, 49, 49);
}

.six p{
    font-size: 30px;
    line-height: 30px;
}

.seven{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 5%;
}

footer{
    margin: 50px 0;

}
footer p{
     text-align: end;
}
